# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/home/yholi/anaconda3/envs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Niko', 'Penelope', 'Eleni', 'Teddi'])
state = np.array(['Texas', 'California', "New York"])
height = np.array([3.6, 8.5, 5.2, 10.0])
school = np.array([True, False, True, True])
weight = np.array([40, 50, 45, 100])

data = {'name': name, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_final

In [7]:
df.cummin()

In [8]:
df.cumsum()

In [9]:
df

In [10]:
weight

array([ 40,  50,  45, 100])

In [11]:
np.roll(weight, 1)

array([100,  40,  50,  45])

In [12]:
df.diff(2)

In [13]:
df.pct_change()

/home/yholi/Documents/pandas_cub/pandas_cub/__init__.py:703: RuntimeWarning: divide by zero encountered in true_divide
  value = (value - value_shifted) / value_shifted

In [14]:
df

In [15]:
df.sort_values('weight')

In [16]:
df.sort_values('name')

In [17]:
df.sort_values(['school', 'weight'])

In [18]:
df.sample(2)

In [19]:
df.sample(5, replace=True)

In [20]:
df.sample(frac=.5)

In [21]:
state = np.array(['Texas', 'Florida', 'Texas', 'Florida', 'Texas', 'Florida', 'Texas', 'Florida'])
fruit = np.array(['Apples', 'Apples', 'Apples', 'Apples', 'Oranges', 'Oranges', 'Oranges', 'Oranges'])
weight = np.array([5, 4, 10, 3, 2, 2, 4, 1])
data = {'state': state, 'fruit': fruit, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df

In [22]:
df_final.pivot_table(rows='state', columns='fruit', values='weight', aggfunc='sum')

In [23]:
df_final.pivot_table(rows='state', values='weight', aggfunc='sum')

In [24]:
df.str.upper('state')

In [25]:
data = pdc.read_csv('data/employee.csv')

In [27]:
data

In [28]:
data.head()

In [29]:
data.dtypes